<div nz-row [nzGutter]="16" class="wrapper">
    <ng-container *ngIf="fetchingDataSubject | async">
        <ng-template #indicatorTemplate><i nz-icon nzType="loading" style="font-size: 50px;"></i> </ng-template>
        <nz-spin nzSimple [nzIndicator]="indicatorTemplate"> </nz-spin>
    </ng-container>
    <ng-container *ngIf="!(fetchingDataSubject | async)">
        <ng-container *ngIf="max && max.length">
            <div nz-col nzXs="20" nzSm="20" nzMd="4" nzLg="4" nzXl="4" *ngFor="let data of max; let i = index">
                <nz-card [nzTitle]="title" class="card">
                    <div *ngIf="unitSubject | async as unit">
                    <p>Max: {{(data?.temp||0) | transformTemp: unit : unitSubject.getValue()}}</p>
                    <p>Min: {{(min[i]?.temp||0 )| transformTemp: unit: unitSubject.getValue()}}</p>
                    <p>Mean: {{(mean[i]?.temp||0) | transformTemp: unit: unitSubject.getValue()}}</p>
                </div>
                </nz-card>
                <ng-template #title>
                    {{((data?.unix_time || 0) + (cityData?.timezone || 0)) * 1000 | date: 'MMM dd'}}
                </ng-template>
            </div>
        </ng-container>
    </ng-container>
</div>
